@import "tailwindcss";



@theme inline {

  --font-open-sans: var(--font-open-sans);
  --font-karla: var(--font-karla);
  --font-raleway: var(--font-raleway);
  --font-georgian: var(--font-georgian);
  --font-poppins: var(--font-poppins);

}


body{
  overflow-x: hidden;
}